<div class="custom-columns">
  <!-- First column: 1/4 width -->
  <div class="column column-1">
    <h2>First Column</h2>
    <ul class="custom-list">
      {{#each specCommands}}
      <li class="custom-list-item">
        <span>{{this}}</span>
        <button class="run-spec-command" data-command="{{this}}">Run</button>
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- Second column: 1/4 width -->
  <div class="column column-2">
    <h2>Second Column</h2>
    <ul class="custom-list">
      <li class="custom-list-item">
        <span>Item A</span>
        <span>
          <button>Accept</button>
          <button class="ml-4">Decline</button>
        </span>
      </li>
      <li class="custom-list-item">
        <span>Item B</span>
        <span>
          <button>Accept</button>
          <button class="ml-4">Decline</button>
        </span>
      </li>
      <li class="custom-list-item">
        <span>Item C</span>
        <span>
          <button>Accept</button>
          <button class="ml-4">Decline</button>
        </span>
      </li>
    </ul>
  </div>
  <!-- Third column: 2/4 width -->
  <div class="column column-3">
    <h2>Third Column</h2>
    <p>This is an example paragraph in the third column. You can place any content here, such as details, descriptions, or other information relevant to your application.</p>
  </div>
</div>
